*{
    box-sizing: border-box;
}
h1{
    text-align: center;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container {
    display: flex;
    background-color: #b0b0b0;
    width: 300px;
    border: 2px solid #000;
    position: relative;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 10px;
    flex: 1 1 100%; 
    max-width: calc(100% - 40px);
}

.label {
    position: absolute;
    top: -1px;
    right: -1px;
    background-color: #ffb6c1;
    padding: 5px 10px;
    border: 1px solid #000;
    width: 90px;
    height: 30px;
    text-align: center;
}

.content {
    color: #000;
}

.label_2{
    position: absolute;
    top: -1px;
    right: -1px;
    background-color: rgb(193, 69, 67);
    padding: 5px 10px;
    border: 1px solid #000;
    color: white;
    width: 90px;
    height: 30px;
    text-align: center;
}

.label_3{
    position: absolute;
    top: -1px;
    right: -1px;
    background-color: #ffb6c1;
    padding: 5px 10px;
    border: 1px solid #000;
    width: 90px;
    height: 30px;
    text-align: center;
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        flex: 1 1 calc(50% - 40px);
        max-width: calc(50% - 40px);
    }
    .container:nth-child(3) {
        flex: 1 1 100%;
        max-width: calc(100% - 40px);
    }
}


@media (min-width: 992px) {
    .container {
        flex: 1 1 calc(33.33% - 40px);
        max-width: calc(33.33% - 40px);
    }
}